.container{
    background-color: #999;
    border-radius: 15px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #999;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

textarea:focus, input:focus{
    background-color: #ccc;
}

input[type="submit"]:hover{
 background-color: white;
 color: black;    
 transform: scale(1.1);
 transition: 1.1s;
 border: 2px solid black;
}



